{% extends 'navbar_layout.html' %}

{% block content %}
    <link rel="stylesheet" href="/assets/style.css">
    <div class="container-lg text-center landing" id="welcome">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-6">
                <img src="assets/avi.png" class="img-responsive image-me" alt="avi">
            </div>
            <div class="col-md-12">        
                <h1>Hi, I'm Avi.</h1>
            </div>
            <div class="col-lg-6 col-8" id="bio">
                <p>An undergraduate of Informatic System, Universitas Indonesia, who love to design web and make an illustration.</p>
            </div>
        </div>
    </div>
    <div class="container-lg text-center" id="hobbies">
        <h1>What I Love.</h1>
        <div class="container hobby">
            <img class="img-fluid hobby-photo" src="assets/koding.jpg" alt="coding">
            <div class="container">
                <h2>Coding.</h2>
                <p>Currently, I code using python, java, and JS. I also assigned as programming class lecturer assistant.</p>
            </div>
        </div>
        <div class="container hobby" id="design">
            <img class="img-fluid hobby-photo" src="assets/webing.png" alt="webing">
            <div class="container">
                <h2>Designing.</h2>
                <p>I love to design and making illustration. I prefer simple and minimal style.</p>
            </div>
        </div>
        <div class="container hobby">
            <img class="img-fluid hobby-photo" src="assets/reading.png" alt="reading">
            <div class="container">
                <h2>Reading.</h2>
                <p>Most of the time, I read novel and science book. Currently I’m reading Cosmos by Carl Sagan.</p>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <p>2019 Ardiaf Rizky</p>
    </footer>
{% endblock %}