{% extends 'navbar_layout.html' %}

{% block content %}
    <div class="container-lg text-center landing" id="welcome">
        <img src="/assets/contact1.png" class="img-fluid img-contact" alt="avi">
        <h1>Get In Touch.</h1>
        <div id="bio">
            <p>You are only one click away from me.</p>
        </div>
        <div class="div-button text-center">
        <button type="button" class="btn btn-outline-success">Message Me</button>
        </div>
    </div>
{% endblock %}