{% extends 'navbar_layout.html' %}

{% block content %}
    <div class="container-lg text-center landing cons-2" id="welcome">
        <img src="/assets/line2.png" class="img-fluid img-contact" alt="avi">
        <h1>Coming Soon.</h1>
        <div id="bio">
            <p>This page is under construction.</p>
        </div>
        <div class="div-button text-center">
        <a role="button" class="btn btn-outline-warning" href="about.html">Back to Home</a>
        </div>
    </div>
{% endblock %}