{% extends 'navbar_layout.html' %}

{% block content %}
    <link rel="stylesheet" href="/assets/style.css">
    <div class="container-lg text-center landing" id="work-landing">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-3 col-6">
                <img src="/assets/avi.png" class="img-fluid image-me" style="border: 5px solid rgb(122, 122, 122)" alt="avi">
            </div>
            <div class="col-md-12">
                <h1>What I've been up to.</h1>
            </div>
            <div class="col-lg-6 col-8" id="bio">
                <p>Here’s some of my work and experience.</p>
            </div>
        </div>
    </div>
    <div class="container-lg text-center landing" id="work-1">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-3 col-6">
                <img src="/assets/Biro-Bisnis-dan-Kemitraan.png" style="max-width:50%" class="img-fluid img-work" alt="avi">
            </div>
            <div class="col-lg-12">
                <h1>BEM Fasilkom UI.</h1>
            </div>
            <div class="col-lg-6 col-10" id="bio">
                <p>Person in Charge of Partnership Division. Maintain relation with BEM Fasilkom’s website hosting provider. Making contract with sponsorship company, etc.</p>
            </div>
            <div class="col-12 div-button text-center">
                <a role="button" href="https://bem.cs.ui.ac.id/" class="btn btn-outline-primary">Visit</a>
            </div>
        </div>
    </div>
    <div class="container-lg text-center landing" id="work-2">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-3 col-6">
                <img src="/assets/java2.png" class="img-fluid img-work" alt="avi">
            </div>
        <div class="col-lg-12">
            <h1>Lecturer Assistant.</h1>
        </div>
        <div class="col-lg-6 col-8" id="bio">
            <p>Lecturer Assistant of Programming Foundation class with Java language. Making lab assignment and project task. Teaching and giving feedback to student.</p>
        </div>
        <div class="col-12 div-button text-center">
            <a role="button" class="btn btn-outline-primary" href="http://siasisten.cs.ui.ac.id">Visit</a>
        </div>
    </div>
{% endblock %}